html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}
.person{
    display:flex;
    align-items: flex-start;
}
.person__picture{
    margin-right: 32px;
}
.person__info{
    margin-bottom: 24px;
}
.person__name{
    font-size: 36px;
    margin: 0;
    font-weight: normal;
}
.person__position{
    font-style: italic;
    font-size: 18px;
    color: #545454;
    margin: 0;
}
.person__description{
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}
.person__description--with-margin{
    margin-bottom: 22px;
}
.special{
    color: #ED6D05;
    font-weight: normal;
}
.special__social{
    font-weight: normal; 
}
.person__link{
    color: #E20613;
    text-decoration: none;
}